<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <h1>
                                        <center>TinyApp</center>



           <form action="/logout" method= "POST">
           <input  placeholder= "<%= currentUser.user.email %>"" style="width: 150px">
           <input type="submit" value="Logout">
           </form>


    </div>

</div>
</nav>