<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <h1>
                                        <center>TinyApp</center>



         <% if(currentUser){ %>


           <form action="/logout" method= "POST">
           <input  placeholder= "<%= currentUser.user.email %>"" style="width: 150px">
           <input type="submit" value="Logout">
           </form>
     <% } else{ %>
           <form action="/login">
           <center> <button type="submit">LOGIN</button></form></center>
           <form action="/register">
           <center> <button type="submit"> REGISTER </button></form></center>

  <% } %>

    </div>

</div>
</nav>