<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <% include ./partials/_header %>
</header>
<body>


<ul>
    <% for (var url in urls) { %>
        <form method="POST" action="/urls/<%=url%>/delete"><button type="submit">DELETE! </button></form>
        <li><%= `${url} ---> ${urls[url]} ` %> </li>
    <% }; %>
</ul>
<!--<p><a href="#">SHORTEN NEW URL</a></p>-->
<form method="GET" action= "/urls/new" >
<button type="submit" >SHORTEN NEW URL</button></form>
</body>
</html>