<!DOCTYPE html>
<html lang="en">
<head>
  <title>tinyAPP</title>
</head>
<header>
    <% include ./partials/_header %>
</header>
<body>

  <center><h2><%= `Short URL : ${shortURL}` %></h2></center>


  <form method="POST" action="/urls/<%=shortURL%>">
   <center><label for="longURL">Enter updated URL:</label>
    <input id="longURL" type="text" name="longURL" value= "<%=longURL%>"" style="width: 300px">
    <input type="submit" value="Update"></center>

    <P>&nbsp;<P>
  </body>
  <div>
           <center> <a href ="/urls"> RETURN TO URL INDEX</a></center>

</div>
</html>